1. **Write a Python program which accepts the radius of a circle from the user
and compute the area.**

In [ ]:
import math
radius = float(input("Enter the radius of the circle : "))
circle_area = math.pi * radius**2
print('Area of the circle is ', circle_area)

Enter the radius of the circle : 13
Area of the circle is  530.929158456675

2. **Write a Python Program to accept the details of a student like name, roll
number and mark and display it.**

In [ ]:
def display_details():
    name = input("Enter the name of the student : ")
    roll_num = input("Enter the roll number : ")
    marks = input("Enter the marks : ")
    print('\n')
    print("Name of the student :" + name)
    print("Roll Number : ", roll_num)
    print("Marks obtained : ", marks)
display_details()

Enter the name of the student : Ajay Suresh
Enter the roll number : B160936CH
Enter the marks : 596


Name of the student :Ajay Suresh
Roll Number :  B160936CH
Marks obtained :  596

3. **Write a Python program to get the largest number from a list.**

In [ ]:
list1 = []
len = int(input('Enter the number of elements: '))
print('Enter the elements:\n')
for i in range(len):
    num = int(input())
    list1.append(num)
list1.sort()
print('The largest element is: ', list1[-1])

Enter the number of elements: 5
Enter the elements:

63
25
89
36
78
The largest element is:  89

4. **Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.**

In [ ]:
num = list(range(1,10+1))
previous_num = 0
for i in num:
    sum = previous_num + i
    print('Current Number ',(i))
    print('Previous Number ',(previous_num))
    print('Sum of numbers is ',(sum))
    previous_num=i

    #Alternatively
    # for i in range(1,10+1):
    # print(i+i-1, end=' ') //To print the sum list without the strings

Current Number  1
Previous Number  0
Sum of numbers is  1
Current Number  2
Previous Number  1
Sum of numbers is  3
Current Number  3
Previous Number  2
Sum of numbers is  5
Current Number  4
Previous Number  3
Sum of numbers is  7
Current Number  5
Previous Number  4
Sum of numbers is  9
Current Number  6
Previous Number  5
Sum of numbers is  11
Current Number  7
Previous Number  6
Sum of numbers is  13
Current Number  8
Previous Number  7
Sum of numbers is  15
Current Number  9
Previous Number  8
Sum of numbers is  17
Current Number  10
Previous Number  9
Sum of numbers is  19

5. **Write a Python program to print only those numbers which are divisible
of 5.**

In [ ]:
len = int(input('Enter the number of elements: '))
print('Enter the elements\n')
num = []
for i in range(len):
  inp = int(input())
  if inp%5 == 0:
    num.append(inp)
print(num)

Enter the number of elements: 5
Enter the elements

65
25
63
87
95
[65, 25, 95]

6. **Write a Python program to check whether a number is prime or not.**

In [ ]:
inp_num = int(input('Enter the number to be checked :'))
flag = False
for i in range(2,(inp_num//2)+1):
    if inp_num%i == 0:
      flag = True
      break
if flag:
  print(inp_num,' is not a Prime number')
else:
  print(inp_num,' is a Prime number')

Enter the number to be checked :13
13  is a Prime number

7. **Write a Python program to reverse a list using for loop.**

In [ ]:
listold = []
listnew = []
len = int(input('Length of the list:'))
for i in range(len):
    num= int(input())
    listold.append(num)
for i in listold:
  listnew.insert(0,i)
print("Reversed list is ", listnew)

Length of the list:4
36
58
45
78
Reversed list is  [78, 45, 58, 36]

8. **Write a Python program to print the following pattern.**

In [ ]:
row_len = int(input("Enter the number of rows for the pattern: "))
for i in range(row_len+1):
  print("*"*i)

Enter the number of rows for the pattern: 5

*
**
***
****
*****

9. **Write a Python program to find the maximum of three number**

In [ ]:
list_us = []
for i in range(3):
  num = input("Enter elements: ")
  list_us.append(num)
list_us.sort()
print('The biggest number is', list_us[-1])

Enter element :86
Enter element :89
Enter element :58
The biggest number is 89

10. **Write a Python program to construct the following pattern, using a
nested for loop.**

In [ ]:
n=int(input('Enter the maximum number of ''*''s you need : '))
for i in range(n):
    for j in range(i):
        print ('* ', end =" ")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end = " ")
    print('')

Enter the number of *s you need : 5

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

11. **Alternate solution for question 9.**

In [ ]:
a,b,c = (input('Input three numbers: ')).split()
if (a >= b) and (a >= c):
  maxnum = a
else:
  if (b >= c):
    maxnum = b
  else:
    maxnum = c
print('The biggest number is ', maxnum)

Input three numbers: 12 789 368
The biggest number is  789