In [1]:
import pandas as pd
import numpy as np
import statistics as stat
from scipy.stats import ttest_ind
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv('/content/Sales_add.csv')

In [3]:
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
df.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
df.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

1. **Clarifying if there is any increase in sales after
stepping into digital marketing.**

In [7]:
#Checking the impact of digital marketing on sales using paired T-Test

t_stat, p_value = ttest_ind(df['Sales_before_digital_add(in $)'], df['Sales_After_digital_add(in $)'])

print("P Value:", p_value,"\n")

#Comparison of p-value with the significance level

if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales after implementing digital marketing.")

P Value: 2.614368006904645e-16

Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.

2. **Dependency between
the features “Region” and “Manager”.**

In [9]:
##Checking dependency between Region and Manager using Chi-Square Test for Independence.

reg_man_table = pd.crosstab(df['Region'], df['Manager'])

chi2_stat, p_value, dof, exp = chi2_contingency(reg_man_table)

print("P Value:", p_value,"\n")

#Comparison of p-value with the significance level

if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant dependency between Region and Manager.")
else:
    print("Fail to reject the null hypothesis. There is no significant dependency between Region and Manager.")

P Value: 0.5493991051158094

Fail to reject the null hypothesis. There is no significant dependency between Region and Manager.