1. **Write a Python program to accept a string value from the user and display
the count of each character in that string.**

In [ ]:
char_input = input('Enter the string :')
count = {}
for i in char_input:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1
print("Count of all characters in", char_input, "is :\n ", count)

Enter the string :Johnson
Count of all characters in Johnson is :
  {'J': 1, 'o': 2, 'h': 1, 'n': 2, 's': 1}

2. **Write a Python function to find the maximum of three numbers Sample
input.**

In [ ]:
def big_num(a,b,c):
    if (a >= b) and (a >= c):
        maxnum = a
    elif (b >= c):
        maxnum = b
    else:
        maxnum = c
    return(maxnum)
a,b,c = input('Enter three numbers: ').split()
print(big_num(a,b,c))

Enter three numbers: 89 99 999
999

3. **Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp.**

In [ ]:
def expo(a,b):
  return((a**b))
a = int(input("Enter the base: "))
b = int(input("Enter the exponent: "))
print(expo(a,b))

Enter the base: 5
Enter the exponent: 3
125

4. **Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.**

In [ ]:
def cube_sum(a):
  sum = 0
  for i in range(a):
      sum += (i**3)
  return(sum)
a = int(input('Enter a number : '))
print(cube_sum(a))

Enter a number : 4
36

5. **Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.**

In [ ]:
def FizzBuzz():
  for i in range(1,11):
    if (i%2 == 0) and (i%5 == 0):
        print('FizzBuzz')
    elif i%5 == 0:
        print('Buzz')
    elif i%2 == 0:
        print('Fizz')
    else:
        print(i)


FizzBuzz()

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. **Write a Python program to find the most frequent item in a list of
numbers.**

In [2]:
def freq_num(list1):
  count = 0
  num = list1[0]
  for i in list1:
      frequency = list1.count(i)
      if(frequency> count):
          count = frequency
          num = i
  return num


list1 = list(map(int, input("Enter the elements: ").split()))
print("The most frequent number is", freq_num(list1))

Enter the elements: 2 5 4 4 4 7 8 9
The most frequent number is 4

7. **Write a Python program to find the sum of squares of the numbers in a
list.**

In [ ]:
def sum_sqr(list1):
  sum = 0
  for i in list1:
    sum += i**2
  return(sum)


list1 = list(map(int, input("Enter the elements: ").split()))
print("Sum of the squares of numbers in the list is:", sum_sqr(list1))

Enter the elements: 6 5 4 3 2 1
Sum of the squares of numbers in the list is: 91

8. **Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.**

In [ ]:
def odd_even():
  for i in range(1,16):
    if i%2 == 0:
      print(i,'is even.')
    else:
      print(i,'is odd.')

odd_even()

1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.
6 is even.
7 is odd.
8 is even.
9 is odd.
10 is even.
11 is odd.
12 is even.
13 is odd.
14 is even.
15 is odd.

9. **Write a Python program to convert temperatures to and from Celsius
Fahrenheit.**

**a). Celsius to Farenheit**

In [ ]:
def c_to_f(c):
  f = ((9*c)/5) + 32
  return(f)

c = float(input("Enter the temperature in Celsius scale: "))
print("Temperature in Farenheit is", c_to_f(c))

Enter the temperature in Celsius scale: -64
Temperature in Farenheit is -83.2

**b). Farenheit to Celsius**

In [ ]:
def f_to_c(f):
  c = ((f - 32)*5)/9
  return(c)

f = float(input("Enter the temperature in Farenheit scale: "))
print("Temperature in Celsius is", f_to_c(f))

Enter the temperature in Farenheit scale: 41
Temperature in Celsius is 5.0

**c).**

In [6]:
def f_to_c(f):
  c = ((f - 32)*5)/9
  return(c)

def c_to_f(c):
  f = ((9*c)/5) + 32
  return(f)

print("**Temparature Converter**")
print('1. Farenheit to Celsius')
print('2. Celsius to Farenheit')
inp = int(input("Select your option(1/2): "))
if inp == 1:
  f = float(input("Enter the temperature in Farenheit scale: "))
  print("Temperature in Celsius is", f_to_c(f))
elif inp == 2:
  c = float(input("Enter the temperature in Celsius scale: "))
  print("Temperature in Farenheit is", c_to_f(c))

**Temparature Converter**
1. Farenheit to Celsius
2. Celsius to Farenheit
Select your option(1/2): 1
Enter the temperature in Farenheit scale: 41
Temperature in Celsius is 5.0

10. **Write a Python function to calculate the factorial of a number.**

In [ ]:
def facto(a):
  sum = 1
  for i in range(1,a+1):
    sum *=i
  return(sum)

a = int(input('Enter the number: '))
print('The factorial is', facto(a))

Enter the number: 5
The factorial is 120